services:
  woodpecker-agent:
    image: {{ woodpecker_agent_image }}
    command: agent
    restart: unless-stopped
    env_file:
      - ./woodpecker.env
    volumes:
      - woodpecker-agent-config:/etc/woodpecker
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  woodpecker-agent-config:

