WOODPECKER_SERVER={{ woodpecker_agent_server }}
WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
WOODPECKER_GRPC_SECURE={{ 'true' if woodpecker_agent_secure | bool else 'false' }}
{% if woodpecker_agent_labels | length > 0 %}
WOODPECKER_AGENT_LABELS={% for key, value in woodpecker_agent_labels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

