[defaults]
inventory = inventory/prod.example.yml
host_key_checking = True
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local
roles_path = roles
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=no
control_path_dir = /tmp/ansible-cp
