http:
  routers:
    forgejo-http:
      entryPoints:
        - http
      rule: "Host(`{{ forgejo_domain }}`)"
      service: forgejo
    forgejo-https:
      entryPoints:
        - https
      rule: "Host(`{{ forgejo_domain }}`)"
      service: forgejo
      tls:
        certResolver: letsencrypt
  services:
    forgejo:
      loadBalancer:
        servers:
          - url: "http://forgejo:{{ forgejo_http_port }}"
