http:
  routers:
    coolify-ui-http:
      entryPoints:
        - http
      rule: "Host(`{{ coolify_proxy_hostname }}`)"
      service: coolify-ui
    coolify-ui-https:
      entryPoints:
        - https
      rule: "Host(`{{ coolify_proxy_hostname }}`)"
      service: coolify-ui
      tls:
        certResolver: letsencrypt
  services:
    coolify-ui:
      loadBalancer:
        servers:
          - url: "http://coolify:8080"
